<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/create.css')}}"rel="stylesheet"/>
    <title>Welcome</title>
</head>
<body>
    <div class="text">
     <div class="rem">
      <h1>monitor</h1>
      <p>muulitiple accounts</p>
     </div>
    </div>
    <div class="top">
        <div class="inner">
            <form action="" method="POST">
                <h3>bank name</h3>
                <input type="text" required name="bankna" id="bankna">
                <h3>account name</h3>
                <input type="text" required name="accname" id="accname">
                <h3>account number</h3>
                <input type="text" maxlength="10" required name="accnum" id="accnum"><br>
                <input type="submit" value="submit">
            </form>
        </div>
    </div>
</body>
</html>