<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
    <title>Defalt</title>
</head>

<body>
    <div class="contain">
        <div class="top">
            <h1 class="open">welcome</h1>
            <h2 class="under">to micro bank app</h2>
        </div>
        <div class="top2">
            <div class="login">
                <h1 align="center" class="open2">login</h1>
                <form method="POST">
                    <p class="name">Username</p>
                    <input type="text" name="Username" id="Username" placeholder="Enter Username">
                    <p class="Password">Password</p>
                    <input type="password" name="password" id="password" placeholder="Enter Password">
                    <input type="submit" name="log" id="logbutton" value="login">
                    <a href="#" align="center" class="forpass">Forgot pasword</a>
                    <p>Don't have an account</p>
                    <a href="{{url_for('register')}}">Sign up</a>
                </form>
            </div>
        </div>
    </div>
</body>

</html>