<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{url_for('static', filename='styles/regsty.css')}}" rel="stylesheet" />
    <title>register</title>
</head>

<body>
    <div class="contain">
        <div class="register">
            <h1 align="center" class="letter">register</h1>
            <form method="POST" class="signup">
                <p class="firstN">first name</p>
                <input type="text" 
                required
                name="firstname" 
                id="firstname">
                <p class="lastN">last name</p>
                <input type="text" 
                required
                name="lastname" 
                id="lastname">
                <p class="email">email</p>
                <input type="email"
                required 
                name="email" 
                id="email">
                <p class="password">password</p>
                <input type="password" 
                name="password" 
                required
                id="password">
                <p class="conpass">(confirm) password</p>
                <input type="password" 
                required
                name="password2" 
                id="password2">
                <p class="conpass">USERID</p>
                <input type="INTEGER" 
                required
                name="userid" 
                id="userid">
                <input type="submit" name="log" id="logbutton" value="signup"><br>
                <a href="{{url_for('login')}}">already have an account.</a>
            </form>
        </div>
    </div>
</body>

</html>