<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/setting.css')}}">
    <title>Document</title>
</head>
<body>
    <h1 class="header">settings</h1>
    <div class="inner">
        <div class="buttons">
            <button href=""><p>edit account details</p></button>
        </div>
        <div class="buttons1" >
            <button href=""><p>notifications</p></button>
        </div>
        <div class="buttons2">
            <button href=""><p>monitored accounts</p></button>
        </div>
        <div class="buttons3">
            <button href=""><p>logout</p></button>
        </div>
     </div>
</body>
</html>