<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/nav.css')}}">
  <title>Document</title>
</head>

<body>
  <div class="wrapper">
    <div class="sidenav">
      <h2>nav bar</h2>
      <ul>
        <li><img src="{{ url_for('static', filename='home-page.png')}}">dashboard</li>
        <li><img src="{{ url_for('static', filename='user.png')}}">account</li>
        <li><img src="{{ url_for('static', filename='group.png')}}">accounts</a></li>
        <li><img src="{{ url_for('static', filename='notification.png')}}">Notification</a></li>
      </ul>
      <div class="logout">
        <a href="" class="logouts"></a>
      </div>
    </div>
  </div>
</body>

</html>