<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'styles/nav.css')}}">
  <title>Document</title>
</head>

<body>
  <div class="wrapper">
    <div class="icons">
    <div class="icon1">
         <img src="{{ url_for('static', filename='home-page.png')}}">
    </div>
    <div class="icon2">
         <img src="{{ url_for('static', filename='user.png')}}">
    </div>
    <div class="icon3">
            <img  src="{{ url_for('static', filename='group.png')}}">
    </div>
    <div class="icon4">
            <img src="{{ url_for('static', filename='setting.png')}}">
    </div>
  </div>
 </div>
</body>

</html>