body{
    font-family: Calibri;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(53, 53, 53));
}

div.text{
   margin-top: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

div.rem h1{
    color: white;
    text-transform: uppercase;
    font-size: 60px;
}

div.rem p{
    text-transform: capitalize;
    color: white;
    font-size: 25px;
    margin-top: -50px;
}

div.top{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 40px;
}

div.inner{
    width: 300px;
    padding: 20px 40px;
    border-radius: 15px;
    background-color: blue;
    margin-bottom: 250px;
}


div.inner h3{
    color: white;
    text-transform: capitalize;
    font-size: 20px;
}

div.inner input{
    width: 100%;
    margin-bottom: 20px;
}

div.inner input[type="text"], input[type="number"], input[type="INTEGER"]{
    color: white;
    border: none;
    border-bottom: 1px solid #ffffff81;
    border-left: 1px solid #ffffff81;
    background: transparent;
    outline: none;
    height: 25px;
}

div.inner input[type="submit"]{
    transition: 0.4s;
    font-size: 20px;
    border-radius: 10px;
    height: 40px;
    border: none;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: rgb(255, 255, 255);
}

div.inner input[type="submit"]:hover{
    font-size: 14px;
    border-radius: 10px;
    height: 45px;
    border: none;
    margin-top: 30px;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.439), 2px 4px rgba(0, 0, 0, 0.439);
    background-color: rgb(192, 148, 234);
}


div.inner a{
    margin-left: 110px;
    text-align: center;
    color: white;
    font-size: 25px;
}

