body {
    font-family: Calibri;
    color: rgb(255, 255, 255);

}

h1.user{
    margin-top: 30px;
    text-transform: uppercase;
    margin-left: 30px;
}

div.container{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    
}

div.outter1{
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.252), 0 3px 10px 0 rgba(255, 255, 255, 0.326);
    border-radius: 15px;
    background-color: rgb(187, 113, 255);
}

div.outter2{
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.252), 0 3px 10px 0 rgba(255, 255, 255, 0.326);
    border-radius: 15px;
    background-color: rgba(233, 51, 51, 0.746);
}

div.outter3{
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.252), 0 3px 10px 0 rgba(255, 255, 255, 0.326);
    border-radius: 15px;
    background-color: rgb(155, 226, 0);

}

div.inner1{
    margin: 15px 100px;
    margin-left: 50px;
 
    color: white;
}

div.inner2{
    margin: 15px 100px;
    margin-left: 50px;
    
    color: white;
}

div.inner3{
    margin: 15px 100px;
    margin-left: 50px;

    color: white;
}

h1.text1{
    font-size: 22px;
}

h2.mounth1{
    margin-top: -40px;
    margin-left: 140px;
    font-size: 14px;
}

p.amount1{
    margin-top: 100px;
    font-size: 30px;
}

p.accname1{
    text-transform: capitalize;
    margin-top: -35px;
}

h1.text2{
    font-size: 22px;
}

h2.mounth2{
    margin-top: -40px;
    margin-left: 140px;
    font-size: 14px;
}

p.amount2{
    margin-top: 100px;
    font-size: 30px;
}

p.accname2{
    text-transform: capitalize;
    margin-top: -35px;
}

h1.text3{
    font-size: 22px;
}

h2.mounth3{
    margin-top: -40px;
    margin-left: 140px;
    font-size: 14px;
}

p.amount3{
    margin-top: 100px;
    font-size: 30px;
}

p.accname3{
    text-transform: capitalize;
    margin-top: -35px;
}


div.wrapper{
    width: 100%;
    margin-top: 90px;
}

div.wrapper .icons{
    height: 20%;
    display: flex;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.449);
    border-radius: 20px;
}

div.icon1{
    margin-left: 37px;
}

div.icon2{
    margin-left: 40px;
}

div.icon3{
    margin-left: 40px;
}

div.icon4{
    margin-left: 40px;
}


div.wrapper img{
    margin-top: 34px;
    margin-left: 20px;
    width: 30px;
}

