body {
    font-family: Calibri;
    background-color: rgba(255, 255, 255, 0.876);
    color: rgb(0, 0, 0);

}


h1.user{
    background-color: rgb(255, 255, 255);
    width: 80%;
    padding-left: 20px;
    margin-left: -10px;
    padding-top: 30px;
    margin-top: -20px;
    text-transform: uppercase;
    padding-bottom: 30px;
}

div.container{
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    
}

div.outter1{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.252), 0 6px 20px 0 rgba(0, 0, 0, 0.326);
    border-radius: 15px;
    margin-left: 10px;
    background: linear-gradient(to left, rgba(91, 58, 255, 0.618), rgb(57, 57, 57));
}

div.outter2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.252), 0 6px 20px 0 rgba(0, 0, 0, 0.326);
    border-radius: 15px;
    margin-left: 20px;
    background: linear-gradient(to left, rgb(255, 26, 26), rgba(91, 58, 255, 0.618));
}

div.outter3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.252), 0 6px 20px 0 rgba(0, 0, 0, 0.326);
    border-radius: 15px;
    margin-left: 20px;
    background: linear-gradient(to left, rgb(155, 226, 0), rgb(255, 26, 26));
}


div.inner1{
    margin: 15px 100px;
    margin-left: 50px;
 
    color: white;
}

div.inner2{
    margin: 15px 100px;
    margin-left: 50px;
    
    color: white;
}

div.inner3{
    margin: 15px 100px;
    margin-left: 50px;

    color: white;
}

h1.text1{
    font-size: 22px;
}

h2.mounth1{
    margin-top: -40px;
    margin-left: 140px;
    font-size: 14px;
}

p.amount1{
    margin-top: 100px;
    font-size: 30px;
}

p.accname1{
    text-transform: capitalize;
    margin-top: -35px;
}

h1.text2{
    font-size: 22px;
}

h2.mounth2{
    margin-top: -40px;
    margin-left: 140px;
    font-size: 14px;
}

p.amount2{
    margin-top: 100px;
    font-size: 30px;
}

p.accname2{
    text-transform: capitalize;
    margin-top: -35px;
}

h1.text3{
    font-size: 22px;
}

h2.mounth3{
    margin-top: -40px;
    margin-left: 140px;
    font-size: 14px;
}

p.amount3{
    margin-top: 100px;
    font-size: 30px;
}

p.accname3{
    text-transform: capitalize;
    margin-top: -35px;
}


div.chart{
    margin-top: 70px;
    margin-left: 20px;
    width: 77%;
}


div.wrapper{
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.524);
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width: 20%;
    height: 120%;
    position: fixed;
    right: 0px;
}

.sidenav a{
    color: black;
}

.sidenav{
    padding-top: 60px;
}

div.sidenav img{
    width: 24px;
    margin-right: 6px;
    margin-top: 0px;
}

div.sidenav h2{
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.sidenav li{
    list-style: none;
    padding: 20px 40px;
    
}

.sidenav li:hover{
    border-radius: 10px;
    box-shadow: 1px 1px 5px 0px rgba(234, 234, 234, 0.876);
    padding: 26px 46px;
    
}

.sidenav a{
    text-decoration: none;
}

div.account{
    padding: 20px 40px;
    box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.781);
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    text-align: center;
    width: 70%;
    margin-left: 20px;
}

div.account h1{
    border-bottom: 1px solid black;
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 30px;
    padding-bottom: 20px;
    text-transform: uppercase;
}

div.section{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.insection{
    padding-right: 350px;
    align-items: first baseline;
    text-align: left;
}

div.insection h2{
    text-transform: capitalize;
    padding-bottom: 20px;
    margin-left: 10px;
}

div.insection p{
    padding-bottom: 20px;
}

div.insection1{
    text-align: left;
}

div.insection1 h2{
    margin-left: 10px;
    text-transform: capitalize;
    padding-bottom: 20px;
}

div.insection1 p{
    padding-bottom: 20px;
}
