
div.wrapper{
    width: 100%;
    margin-left: -8px;
    margin-top: 90px;
}

div.wrapper .icons{
    height: 20%;
    display: flex;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.449);
    border-radius: 20px;
}

div.icon1{
    margin-left: 37px;
}

div.icon2{
    margin-left: 40px;
}

div.icon3{
    margin-left: 40px;
}

div.icon4{
    margin-left: 40px;
}


div.wrapper img{
    margin-top: 34px;
    margin-left: 20px;
    width: 30px;
}

