body{
    background-color: black;
    color: white;
    font-family: Calibri;
}

div.contain{
    margin-top: 50px;
}

div.register{
    margin-left: 20px;
    margin-right: 20px;
}

div.register h1{
    text-transform: uppercase;
    margin-bottom: 50px;
}

div.register p{
    text-transform: capitalize;
    font-size: 19px;
}

div.register input[type="text"], input[type="name2"], input[type="email"], input[type="number"], input[type="password"], input[type="password"]{
    border: none;
    font-size: 18px;
    color: white;
    width: 100%;
    border-bottom: 1px solid #ffffff9c;
    border-left: 1px solid #ffffff9c;
    background: transparent;
    outline: none;
    height: 35px;
}

div.register input[type="submit"]{
    font-size: 19px;
    border-radius: 20px;
    margin-left: 80px;
    margin-top: 50px;
    margin-bottom: 40px;
    width: 60%;
    height: 50px;
}

div.register input[type="submit"]:hover{
    margin-top: 50px;
    color: black;
    background-color: rgba(255, 255, 255, 0.365);
    margin-bottom: 40px;
    height: 70px;
}

div.register a{
    margin-left: 110px;
    text-align: center;
    color: white;
}